<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Bienvenido a tu cafetera inteligente!</title>
    <link rel="stylesheet" href="\static\css\style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manslava/">
</head>
<body>
    <div class="headerc">
        <header>
            <h1 class="title">CoffeeBase</h1>
            <img src="" alt="" class="icon">
        </header>
    </div>
    <div class="container">
        <h2 class="title-cont">Tu cafetera inteligente</h2>
        <div class="mini-containers">
            <div class="baby-container">
                <h3 class="title">LED</h3>
                <p class="number">{{ %</p>
            </div>
            <div class="baby-container">
                <h3 class="title">Humedad</h3>
                <p class="number">48</p>
            </div>
            <div class="baby-container">
                <h3 class="title">Distancia</h3>
                <p class="number">48</p>
            </div>
        </div>
    </div>
</body>
</html>